<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My first view</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
  <h1>This is fine.</h1>
  <img src="https://media2.giphy.com/media/l2QEgWxqxI2WJCXpC/giphy.gif">
</body>
</html>
