<div class="card" style="width: 33.333%;">
      <img class="card-img-top" src="{{this.photo}}" alt="">
      <div class="card-body">
        <h5 class="card-title">{{this.name}} {{this.lastName}}</h5>
        <p class="card-text">{{this.team}}</p>
      </div>
</div>
