<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Sign Up</title>
</head>

<body>
  <form id="form" action="/signup" method="POST">
    <label for="username">Username</label><br>
    <input type="text" name="username"
      placeholder="AnakinSkywalker">

    <br><br>
    <label for="password">Password</label><br>
    <input type="password" name="password"
      placeholder="DeathStar">
    <br><br>

    {{#if errorMessage}}
      <div class="error-message">{{ errorMessage }}</div>
    {{/if}}

    <button>Create account</button>
  </form>
</body>
</html>
