
  <h2>Upload your photo</h2>

  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="text" name="name">
    <input type="file" name="photo">
    <input type="submit" value="Save">
  </form>



  {{#each pictures}}
  <div>
    <h4>{{this.name}}</h4>
    <img src="{{this.path}}" alt="{{this.originalName}}" class="upload-pic">

  </div>


  {{/each}}
