
  <section class="container">
    <h1>Ironhack Characters API</h1>
    <div class="characters-container">
      <div class="character-info">
        <div class="name">Character Name</div>
        <div class="occupation">Character Occupation</div>
        <div class="cartoon">Is a Cartoon?</div>
        <div class="weapon">Character Weapon</div>
      </div>
    </div>
    <section class="operations">
      <div class="operation">
        <button id="fetch-all">Fetch all</button>
      </div>
      <div class="operation">
        <label for="character-id">Search by ID: </label>
        <input type="text" class="character-id">
        <button id="fetch-one">Fetch one</button>
      </div>
      <div class="operation delete">
        <label for="character-id-delete">Delete by ID: </label>
        <input type="text" name="character-id-delete">
        <button id="delete-one">Delete one</button>
      </div>

    </section>
  </section>
  <section class="container">
    <section class="form-container">
      <h2>New Character</h2>
      <form id="new-character-form" class="character-form">
        <div class="field">
          <label for="name">Name: </label>
          <input type="text" class="new-name">
        </div>
        <div class="field">
          <label for="occupation">Occupation: </label>
          <input type="text" class="new-occupation">
        </div>
        <div class="field">
          <label for="weapon">Weapon: </label>
          <input type="text" class="new-weapon">
        </div>
        <div class="field">
          <label for="cartoon">Is a Cartoon: </label>
          <input class="new-cartoon" type="checkbox">
        </div>
        <button id="send-data">Create</button>
      </form>
    </section>
    <section class="form-container">
      <h2>Edit Character</h2>
      <form id="edit-character-form" class="character-form">
        <div class="field">
          <label for="id">ID: </label>
          <input type="text" class="edit-chr-id">
        </div>
        <div class="field">
          <label for="name">Name: </label>
          <input type="text" class="edit-name">
        </div>
        <div class="field">
          <label for="occupation">Occupation: </label>
          <input type="text" class="edit-occupation">
        </div>
        <div class="field">
          <label for="weapon">Weapon: </label>
          <input type="text" class="edit-weapon">
        </div>
        <div class="field">
          <label for="cartoon">Is a Cartoon: </label>
          <input class="edit-cartoon" type="checkbox">
        </div>
        <button id="send-data">Update</button>
      </form>
    </section>
  </section>
