<h2>Signup</h2>

<form action="/signup" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">
  <br><br>
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">

  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <br><br>

      <button>Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/login">Login</a>
  </p>
</form>
