<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="navbar">
      <a href="/signup">Add New Employee</a>
      <a href="/login">Login</a>
    </div>

    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
