<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="navbar">
      <span><a href="/signup">Signup</a></span>
    </div>

    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
