<div id="container">
<li>
   <a href="/signup">Sign up</a>
</li>
<li>
  <a href="/login">Login</a>
</li>
<li>
  <a href="/secret">Protected page</a>
</li>
<li>
  <a href="/logout">Logout</a>
</li>
</div>
