<!-- Simple form which will send a POST request -->
<form action="/cars/create" method="post">

  <p>Brand</p>
  <input type="text" name="theBrand">

  <p>Model</p>
  <input type="text" name="theModel">

  <p>Year</p>
  <input type="text" name="theYear">

  <p>Color</p>
  <input type="text" name="theColor">

  <input type="submit" value="Submit Car">
</form>
